<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.ItemPicMapper">
	<insert id="insertItemPic" parameterType="com.project.secondhand.vo.ItemPic">
	INSERT INTO 
	market_item_pic(
	item_no, 
	item_pic_name_one,
	item_pic_name_two,
	item_pic_name_three,
	item_pic_name_four,
	item_pic_name_five
	)VALUES(
	#{itemNo},
	#{itemPicNameOne},
	#{itemPicNameTwo},
	#{itemPicNameThree},
	#{itemPicNameFour},
	#{itemPicNameFive}
	)
	</insert>
	<delete id="deleteItemPic" parameterType = "int">
	DELETE FROM market_item_pic
	WHERE item_no = #{itemNo}
	</delete>
</mapper>