<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <h1>아이템 등록</h1>
   <form method="post" th:action="@{/addItem}" enctype="multipart/form-data">
      <div>
         <input type="text" id="categoryName" name="categoryName" th:placeholder="카테고리"> 
      </div>
      <div>
         <input type="text" id="memberNo" name = "memberNo" th:placeholder="memberNo">
      </div>
      <div>
         <input type="text" id="itemTitle" name="itemTitle" th:placeholder="제목">
      </div>
      <div>
         <input type="text" id="itemContent" name="itemContent" th:placeholder="내용">
      </div>
      <div>
         <input type="text" id="itemPrice" name="itemPrice" th:placeholder="가격">
      </div>
      <div>
         <input type="text" id="itemState" name="itemState" th:placeholder="판매현황">
      </div>
      <div>
      	<div class = "name">사진</div>      		
            <input type="file" name="itemPicNameOne" id="" required>
      	</div>
      	<div>
      	<div class = "name">사진</div>      		
            <input type="file" name="itemPicNameTwo" id="" required>
      	</div>
      	<div>
      	<div class = "name">사진</div>      		
            <input type="file" name="itemPicNameThree" id="" required>
      	</div>
      	<div>
      	<div class = "name">사진</div>      		
            <input type="file" name="itemPicNameFour" id="" required>
      	</div>
      	<div>
      	<div class = "name">사진</div>      		
            <input type="file" name="itemPicNameFive" id="" required>
      	</div>

      
      <div>
         <button type="submit">등록</button>
      </div>
   </form>
</body>
</html>