
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Second Hand</title>
</head>
<link rel="stylesheet" media="all" href="css/base.css" />
<body>
	<div class="frame">
		<!-- class= "header" 상단 검색창 위치 조정 -->
		<div class="header">
			<div th:include="/inc/topHeader"></div>
		</div>
		<!-- class = "main" 내용 위치 선정 -->
		<div class="main">
			<h1>프로필 사진</h1>
			<form method="post" th:action="@{/addMemberPic}" id="addMemberFormPic" enctype="multipart/form-data">
				<div>
					사진
					<input type="file" id="memberPicName" name="memberPicName">
				</div>
				<div>
					<button type="button" id="btn">사진 추가</button>
				</div>
				<input type="hidden" name="memberNo" th:value="${memberNo}">
			</form>
		</div>
	</div>
	<div th:include="/inc/copyRight"></div>
</body>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			$('#addMemberFormPic').submit();
		});
	});
</script>
</html>