<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addNotice</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" media="all" href="css/itemList.css" />
<script src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<link rel="stylesheet" media="all" href="css/copyRight.css" />
<!-- sidemenu style, javascript 파일 -->
<link rel="stylesheet" href="css/sidemenu.css">
<script src="js/sidemenu.js"></script>
<script>
	let helperInit = function() {
		$('#noticeTitleHelper').text("");
		$('#noticeContentHelper').text("");
	}
	//doucment(body)가 준비되면 작동된다.
	$(document).ready(function() {
		//button 을 클릭하면 작동된다.	
		$('#addNoticeBtn').click(function() {
			//제목 공백 확인
			if($('#noticeTitle').val() == "") {
			   helperInit();
			   $('#noticeTitleHelper').text('제목을 입력해주세요.');
			   $('#noticeTitle').focus();
				return;
			}
			if($('#noticeContent').val() == ""){
			   helperInit();
			   $('#noticeContentHelper').text('내용을 입력해주세요.');
			   $('#noticeContent').focus();
				return;
			}
			$('#addNoticeForm').submit();
		});
	});
</script>
<style>
#qna-h2 {
		margin-bottom: 20px;
	}
#addNoticeBox{
	text-align: right;
	color: #e49aec;
}	
/* sidemenu 추가하면서 수정된 style */
#footer {
	left: 0px;
}
@font-face { 
	font-family: 'yg-jalnan'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
} 
.sidenav a, .sidenav ul li {
	font-family: 'yg-jalnan';
}
</style>
</head>
<body>
	<!-- sidemenu include -->
	<div th:include="/inc/sidemenu::sidemenu"></div>
	<div th:class="header">
		<div th:include="/inc/topHeader"></div>
	</div>
	<div th:class="container-fluid">
		<section th:id="content">
			<form th:id="addNoticeForm" th:method="post" th:action="@{/addNotice}">
				<div th:class="row">
					<div th:class="col-sm-3"></div>
					<div th:class="col-sm-6">
						<h2 th:id="qna-h2" th:text="'공지사항 입력'"></h2>
						<div th:class="form-group">
							<label th:for="noticeTitle" th:text="제목"></label>
							<input th:class="form-control" th:type="text" th:name="noticeTitle" th:id="noticeTitle" th:placeholder="'제목을 입력하세요'">
							<span th:id="noticeTitleHelper"></span>
						</div>
						<div th:class="form-group">
							<label th:for="noticeContent" th:text="내용"></label>
							<textarea th:class="form-control" th:rows="15" th:name="noticeContent" th:id="noticeContent" th:placeholder="'내용을 입력하세요'"></textarea>
							<span th:id="noticeContentHelper"></span>
						</div>
						<div th:id="addNoticeBox">
							<button th:class="'btn btn-success'" th:type="button" th:id="addNoticeBtn" th:text="글작성"></button>
						</div>
					</div>
					<div th:class="col-sm-3"></div>
				</div>
			</form>
		</section>
		<div th:class="header">
			<div th:include="/inc/copyRight"></div>
		</div>
	</div>
</body>
</html>