<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>secondhand</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script	src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<!-- sidemenu style, javascript 파일 -->
<link rel="stylesheet" href="css/menu.css">
<script src="js/sidemenu.js"></script>
<style>
#qna-h2 {
	margin-bottom: 20px;
}
.table {
	text-align: center;
}

.btnBox {
	width: 100%;
	text-align: right;
}

#type-btn {
	width: 100%;
}

.pagination {
	margin-top: 15px;
}

.page-item.active .page-link {
	color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
	
.page-link {
	color: black;
}

#bottom-box {
	position: absolute;
    bottom: 0;
}
</style>
<script>
	$(document).ready(function() {
	//$(document).on("change", "input[name='categoryName']",function(){
		/*
		$('#categoryType').change(function() {
			var categoryType = $(this).val();
			var currentPage = $('#currentPage').val();
			console.log(currentPage + " <--currentPage");
			console.log(categoryType + " <--categoryType");
			$.ajax({
				url : '/getCategoryListByType',
				type : 'GET',
				data : {categoryType : categoryType, currentPage : currentPage},
				success : function(data) {
					$('#categoryTable').empty();
					$.each(data, function(i) {
						$('#categoryTable').append('<tr><td class="' + data[i].categoryName + '" id="' + data[i].categoryName + '">'+ data[i].categoryName + '</td><td><button type="button" class="'+ data[i].categoryName +' updateBtn"><i class="far fa-edit" style="font-size:24px"></i></button></td><td><button type="button" id="deleteBtn"><i class="fa fa-remove" style="font-size:24px;color:red"></i></button></td>');
					});
				},
				error : function() {
					console.log('getCategoryListByType fail');
				}
			});
		});
		*/
		$('#type-btn').click(function() {
			var categoryType = $('#categoryType').val();
			location.href = "/categoryList?categoryType="+categoryType;
		})
		
		$('.deleteBtn').click(function() {
			var result = confirm('정말 삭제하시겠습니까 ? 되돌릴수업어요 !');
			var originName = $(this).attr('class');
			var arr = originName.split(" ");
			var categoryName = arr[0];
			console.log(categoryName)
			if(result){
				$.ajax({
					url: '/removeCategory',
					type: 'POST',
					data: {categoryName: categoryName},
					success: function(data) {
						console.log('dalete success');;
						location.reload();
					},
					error: function() {
						console.log('delete fail');
					}
				});
			}else{
				return false;
			}
		});

		$(document).on("click", ".updateBtn", function(){
			var originName = $(this).attr('class');
			var arr = originName.split(" ");
			var inputName = '#'+arr[0];
			console.log(inputName);
			$(inputName).text('');
			$(inputName).append('<input type="text" class="form-control" name="categoryName" id="categoryName" value="' + arr[0] + '">');
			$('.updateBtn').click(function(){
				var categoryName = $('#categoryName').val();
				console.log(categoryName);
				$.ajax({
					url: '/modifyCategory',
					type: 'POST',
					data: {categoryName: categoryName, originName: arr[0]},
					success: function(){
						console.log('update success');
						location.reload();
					},
					error: function(){
						console.log('update fail');
					}
				});
			});
		});
		
		$(document).on("click", "#addCategory", function(){
			$('#addCategoryBox').prepend('<div class="col-3"><select class="form-control" id="addCategoryType"><option value="item">상품</option><option value="board">게시판</option><option value="qna">자주묻는질문</option></select></div><div class="col-7"><input class="form-control" type="text" id="addCategoryName"></div>');
			$('.btnBox').addClass('col-2');
			$(this).attr('id', 'addBtn')
			$(this).addClass('btn');
			$('#addBtn').click(function(){
				var categoryType = $('#addCategoryType').val(); 
				console.log(categoryType);
				var categoryName = $('#addCategoryName').val();
				console.log(categoryName);
				$.ajax({
					url: '/addCategory',
					type: 'POST',
					data: {categoryName: categoryName, categoryType: categoryType},
					success: function(data) {
						console.log('add success');;
						location.reload();
					},
					error: function() {
						console.log('add fail');
					}
				});
			});
		});
	});
</script>
</head>
<body>
	<!-- sidemenu include -->
	<div th:include="/inc/menu::sidemenu"></div>
	<!-- topmenu include -->
	<div th:include="/inc/menu::topmenu"></div>
	<div th:class="container-fluid">
		<section th:id="content">
			<div th:class="row">
				<div th:class="col-sm-3"></div>
				<div th:class="col-sm-6">
					<h2 th:id="qna-h2" th:text="'카테고리 리스트'"></h2>
					<div th:class="'form-group row'">
						<div th:class="col-10">
							<select th:class="form-control" th:id="categoryType">
								<option value="" th:text="전체보기">
								<option th:value="item" th:text="상품" th:selected="${categoryType} eq 'item'"></option>
								<option th:value="board" th:text="업체홍보게시판" th:selected="${categoryType} eq 'board'"></option>
								<option th:value="qna" th:text="자주묻는질문" th:selected="${categoryType} eq 'qna'"></option>
							</select>
						</div>
						<div th:class="col-2">
							<button th:type="button" th:class="'btn btn-success'" th:id="type-btn" th:text="보기"></button>
						</div>
					</div>
					<div>
						<table th:class="table">
							<thead>
								<tr>
									<th th:style="'width: 80%;'" th:text="'제목'"></th>
									<th th:style="'width: 10%;'" th:text="'수정'"></th>
									<th th:style="'width: 10%;'" th:text="'삭제'"></th>
								</tr>
							</thead>
							<tbody th:id="categoryTable">
								<tr th:each="category : ${categoryList}">
									<td th:text="${category.categoryName}" th:class="${category.categoryName}" th:id="${category.categoryName}"></td>
									<td><button th:type="button" th:class="${category.categoryName} +' updateBtn'"><i class='far fa-edit' style='font-size:24px'></i></button></td>
									<td><button th:type="button" th:class="${category.categoryName} +' deleteBtn'"><i class="fa fa-remove" style="font-size:24px;color:red"></i></button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div th:id="addCategoryBox" th:class="row">
						<div th:class="btnBox">
							<button th:class="'btn btn-success'" th:type="button" th:text="입력" th:id="addCategory"></button>
						</div>
					</div>
					<div>
						<input th:type="hidden" th:id="currentPage" th:value="${page.currentPage}">
						<ul class="pagination" style="justify-content: center;">
							<li class="page-item"><a th:href="${categoryType} == null ? @{/categoryList(currentPage=${page.currentPageGroup-page.pagePerGroup})} : @{/categoryList(currentPage=${page.currentPageGroup-page.pagePerGroup}, categoryType=${categoryType})}" th:if="${page.currentPageGroup}>1" class="page-link"><i class="fa fa-angle-left"></i></a></li>
							<li th:if="${i}<${page.lastPage+1}" th:each="i : ${#numbers.sequence(page.currentPageGroup, page.currentPageGroup+page.pagePerGroup-1)}" th:class="${i}==${page.currentPage} ? 'page-item active' : 'page-item'">
								<span th:if="${i}==${page.currentPage}" th:text="${i}" class="page-link"></span>
								<a th:unless="${i}==${page.currentPage}" th:text=${i} th:href="${categoryType} == null ? @{/categoryList(currentPage=${i})} : @{/categoryList(currentPage=${i}, categoryType=${categoryType})}" class="page-link"></a>
							</li>
							<li class="page-item"><a th:href="${categoryType} == null ? @{/categoryList(currentPage=${page.currentPageGroup+page.pagePerGroup})} : @{/categoryList(currentPage=${page.currentPageGroup+page.pagePerGroup}, categoryType=${categoryType})}" th:if="${page.currentPageGroup<(page.lastPageGroup-1)*page.pagePerGroup+1}" class="page-link"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
				</div>
				<div th:class="col-sm-3"></div>
			</div>
		</section>
	</div>
	<!-- bottomenu include -->
	<div th:include="/inc/menu::bottommenu"></div>
</body>
</html>