<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" media="all" href="css/itemList.css" />
<script	src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<link rel="stylesheet" media="all" href="css/copyRight.css" />
<script>
	$(document).ready(function(){
		$('#chatMessage').keydown(function(key){
			if(key.keyCode == 13) {
				$('#sendBtn').click();
			}
		});
		$('#sendBtn').click(function(){
			var sendId = $('#loginMemberId').val();
			var roomNo = $('#roomNo').val();
			var chatMessage = $('#chatMessage').val();
			console.log('sendId : ' + sendId + ', roomNo : ' + roomNo + ', chatMessage : ' + chatMessage);
			$.ajax({
				url: '/sendMsg',
				type: 'POST',
				data: {sendId: sendId, roomNo: roomNo, chatMessage: chatMessage},
				success: function() {
					console.log('send success');
					$('#chatMessage').val('');
				},
				error: function() {
					console.log('send fail');
				}
			});
		});
		
		setInterval(function(){
			var sendId = $('#loginMemberId').val();
			var roomNo = $('#roomNo').val();
			console.log('sendId : ' + sendId + ', roomNo : ' + roomNo);
			$.ajax({
				url: '/getNewMessage',
				type: 'POST',
				data: {roomNo: roomNo},
				success: function(data) {
					console.log(data);
					console.log('getMessage success');
					$.each(data, function(i){
						console.log(data[i])
						if(sendId == data[i].sendId) {
							$('#msgBox').append('<div style="text-align: right">' + data[i].sendNickName + ' : ' + data[i].chatMessage + '</div>');
						} else {
							$('#msgBox').append('<div style="text-align: left">' + data[i].sendNickName + ' : ' + data[i].chatMessage + '</div>');
						}			
					});
				},
				error: function() {
					console.log('getMessage fail');
				}
			});
		}, 3000);
		
		$('#closeBtn').click(function(){
			var roomNo = $('#roomNo').val();
			console.log('roomNo : ' + roomNo);
			$.ajax({
				url: '/closeChatRoom',
				type: 'GET',
				data: {roomNo: roomNo},
				success: function() {
					console.log('close & update success');
				},
				error: function() {
					console.log('close & update fail');
				}
			});
			window.location.href='/getMyChatList';
		});
	});
</script>
</head>
<body>
<h1 th:text="채팅"></h1>

<div th:id="msgBox" style="border: medium solid black; width: 400px; height: 600px;">
	<div th:if="${chatMessageList} != null" th:each="message : ${chatMessageList}">
		<div style="text-align: right" th:if="${message.sendEmail} == ${session.loginMember.memberEmail}" th:text="${message.sendNickName} + ' : ' + ${message.chatMessage}"></div>
		<div style="text-align: left" th:if="${message.sendEmail} != ${session.loginMember.memberEmail}" th:text="${message.sendNickName} + ' : ' + ${message.chatMessage}"></div>
	</div>
</div>
<div>
	<!-- <input type="hidden" th:value="${session.loginMember.memberId}" id="loginMemberId"> -->
	<input th:type="hidden" th:value="2" th:id="loginMemberId">
	<input th:type="hidden" th:value="${roomNo}" th:id="roomNo">
	<input th:type="text" th:name="chatMessage" th:id="chatMessage">
	<button th:type="button" th:id="sendBtn" th:text="보내기"></button>
</div>
<div>
	<button th:type="button" th:id="closeBtn" th:text="나가기"></button>
</div>
</body>
</html>