
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Second Hand</title>
<link rel="stylesheet" media="all" href="css/itemList.css" />
<script	src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<link rel="stylesheet" media="all" href="css/copyRight.css" />
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<!-- 기본 api 링크-->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<link rel="stylesheet" href="css/sidemenu.css">
<script src="js/sidemenu.js"></script>

</head>

<body>
<div th:include="/inc/sidemenu::sidemenu"></div>
	<div class="frame">
		<!-- class= "header" 상단 검색창 위치 조정 -->
		<div class="header">
			<div th:include="/inc/topHeader"></div>
		</div>
		<!-- class = "main" 내용 위치 선정 -->
		<div class="main">
			<h1>여기다 내용 적으면 됨</h1>
		</div>
		
	</div>
	<div th:include="/inc/copyRight"></div>
</body>
</html>
