<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>itemReportDeferOne</title>
<style>
div.main{
	position: absolute;
	top : 500px;
	left: 800px; 
}

</style>
</head>
<body>
	<div class="header">
      <div th:include="/inc/topHeader"></div>
   </div>
<div class = "main">
	<h1>신고 상세보기 왜 안됨		</h1>
	<form method = "post" th:action = "@{/addItemReportResult(itemNo =${itemReportDefer.itemNo}, itemReportDeferNo = ${itemReportDeferNo})}">
	<div>
	<span th:text = "${itemReportDeferNo}" th:value="${itemReportDeferNo}"></span>
		<input type ="text" name="itemReportDeferNo">
		<input type="text" id="itemNo" name="itemNo"readonly="readonly" th:value="${itemReportDefer.itemNo}">
		<input type="text" id="memberNo" name="memberNo" th:value="1" readonly="readonly">
	</div>
	<div>
		<input type="text" id="categoryName" name="categoryName"  readonly="readonly" th:value="${itemReportDefer.categoryName}">
	</div>
	<div>
		<input type= "text" id="itemReportDeferContent" name="itemReportResultContent" th:value="${itemReportDefer.itemReportDeferContent}"></textarea>
	</div>
	<div>
		<input type="text" id="itemReportDeferDate" name="itemReportDeferDate" th:value="${itemReportDefer.itemReportDeferDate.substring(0,16)}">
	</div>
	<div>
		<button type="submit">신고 승인</button>
	</div>
	</form>
</div>
	 <div class="header">
      <div th:include="/inc/copyRight"></div>
   </div>
</body>
</html>