
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Second Hand</title>
</head>
<link rel="stylesheet" media="all" href="css/base.css" />
<body>
	<div class="frame">
		<!-- class= "header" 상단 검색창 위치 조정 -->
		<div class="header">
			<div th:include="/inc/topHeader"></div>
		</div>
		<!-- class = "main" 내용 위치 선정 -->
		<div class="main">
			<h1>일반회원 로그인</h1>
			<form method="post" th:action="@{/loginMember}" id="loginMember">
			<div>
				Email : 
				<input type="text" name="memberEmail" id="memberEmail">
				<span id="emailHelper"></span>
			</div>
			<div>
				Pw : 
				<input type="password" name="memberPw" id="memberPw">
				<span id="pwHelper"></span>
			</div>
			<div>
				<button type="button" id ="btn" class="">로그인</button>
			</div>
			</form>
		</div>
	</div>
	<div th:include="/inc/copyRight"></div>
</body>
<script>
	let helperInit = function(){
		$('#emailHelper').text("");
		$('#pwHelper').text("");
};

	$(document).ready(function(){
		$('#btn').click(function(){
			if($('#memberEmail').val().length <1){
				helperInit();
				$('#emailHelper').text("ID를 입력하세요");
			}else if($('#memberPw').val().length <1){
				helperInit();
				$('#pwHelper').text("비밀번호를 입력하세요");
			}else{
				$('#loginMember').submit();
			}
					
		});
	});
</script>
</html>
