
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Second Hand</title>
</head>
<link rel="stylesheet" media="all" href="css/base.css" />
<body>
	<div class="frame">
		<!-- class= "header" 상단 검색창 위치 조정 -->
		<div class="header">
			<div th:include="/inc/topHeader"></div>
		</div>
		<!-- class = "main" 내용 위치 선정 -->
		<div class="main">
			<div class="container">
				<h1>회원정보</h1>
				<table class="table">
					<tr>
						<td>사진</td>
						<td>
							<img th:src="@{'/upload/'+ ${memberInfo.memberPicName}}" width="100" height="100"></img>
						</td>
					</tr>
					<tr>
						<td>온도 &nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${memberInfo.temperTotal}"></span></td>
					</tr>
					<tr>
						<td>닉네임</td>
						
						<td th:text="${memberInfo.memberNickname}"></td>
					</tr>
					<tr>
						<td>이메일</td>
						<td th:text="${memberInfo.memberEmail}"></td>
					</tr>
					<tr>
						<td>전화번호</td>
						<td th:text="${memberInfo.memberPhone}"></td>
					</tr>
					<tr>
						<td>주소</td>
						<td th:text="${memberInfo.bigCity}+' '+${memberInfo.middleCity}+' '+${memberInfo.smallCity}"></td>
					</tr>
				</table>
				<div>
					<a th:href="@{/removeMember}" class="btn btn-primary">회원탈퇴 </a> 
					<a th:href="@{/modifyMember}" class="btn btn-primary">회원수정</a>
				</div>
			</div>
		</div>
	</div>
	<div th:include="/inc/copyRight"></div>
</body>
</html>
