<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>memberInfoByAdmin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" media="all" href="css/itemList.css" />
<script	src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<link rel="stylesheet" media="all" href="css/copyRight.css" />
<!-- sidemenu style, javascript 파일 -->
<link rel="stylesheet" href="css/sidemenu.css">
<script src="js/sidemenu.js"></script>
<style>
#removeBtnBox {
	text-align: right;	
}
.itemDate {
	text-align: right;
}
.itemInfo:hover {
	background-color: #dee2e6;
}
.tab:hover {
	background-color: #dee2e6;
}
.tab {
	margin-left: 20px;
}
/* sidemenu 추가하면서 수정된 style */
#footer {
	left: 0px;
}
@font-face { 
	font-family: 'yg-jalnan'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
} 
.sidenav a, .sidenav ul li {
	font-family: 'yg-jalnan';
}
</style>
<script>
	$(document).ready(function(){
		$('#removeBtn').click(function(){
			var result = confirm('정말 삭제하시겠습니까?');
			if(result){
				location.replace('memberList');
			}else{
				return false;
			}
		});
	});
</script>
</head>
<body>
	<!-- sidemenu include -->
	<div th:include="/inc/sidemenu::sidemenu"></div>
	<div th:class="header">
		<div th:include="/inc/topHeader"></div>
	</div>
	<div th:class="container-fluid">
		<section th:id="content">
			<div th:class="row">
				<div th:class="col-sm-2"></div>
				<div th:class="col-sm-8">
					<h2 th:id="qna-h2" th:text="'회원정보 상세보기'"></h2>
					<div th:id="removeBtnBox"><a th:href="@{/removeMember(memberNo = ${memberBasicInfo.memberNo})}" th:text="블랙" th:id="removeBtn" th:class="'btn btn-success'"></a></div>
					<table th:class="table">
						<tr>
							<td th:rowspan="4" th:style="'width: 20%'">
								<img th:src="@{'/upload/'+ ${memberBasicInfo.memberPicName}}" th:width="100" th:height="100"></img>
							</td>
							<td th:text="'닉네임 : ' + ${memberBasicInfo.memberNickname}" th:style="'width: 30%'"></td>
							<td th:text="'온도  : ' + ${memberBasicInfo.temperTotal}" th:style="'width: 50%'"></td>
						<tr>
							<td th:colspan="2" th:text="'이메일 : ' + ${memberBasicInfo.memberEmail}"></td>
						</tr>
						<tr>
							<td th:colspan="2" th:text="'전화번호 : ' + ${memberBasicInfo.memberPhone}"></td>
						</tr>
						<tr>
							<td th:colspan="2" th:text="'주소 : ' + ${memberBasicInfo.bigCity}+' '+${memberBasicInfo.middleCity}+' '+${memberBasicInfo.smallCity}"></td>
						</tr>
					</table>
					<hr>
					<div th:text="'상품목록'"></div>
					<hr>
					<div th:each="item : ${itemList}">
							<div th:class="'row itemInfo'" th:onclick="|location.href='@{/itemInfo(itemNo = ${item.itemNo})}'|">
								<div th:class="col">
									<span th:text="'[' + ${item.categoryName} + ']'"></span>
									<span th:text="${item.itemTitle}"></span>
									<span th:text="${item.itemPrice} + '원'"></span>
									<span th:text="'[' + ${item.itemState} + ']'"></span>
								</div>
								<div th:class="'col itemDate'" th:text="${item.itemDate}"></div>
							</div>
							<hr>
							<div th:class="tab" th:each="itemReport : ${itemReportList}" th:if="${itemReport.itemNo} == ${item.itemNo}" th:onclick="|location.href='@{/reportDetail(type = item, no = ${itemReport.itemReportNo})}'|">
								<div th:text="신고내역"></div>
								<div th:text="'신고한 사람 : ' + ${itemReport.memberNickName}"></div>
								<span th:text="'[' + ${itemReport.categoryName} + ']'"></span>
								<span th:text="${itemReport.itemReportContent}"></span>
								<div th:text="'신고날짜 : ' + ${itemReport.itemReportDate}"></div>
								<div th:text="${itemReport.itemReportResultDate} == null ? '처리날짜 : 미처리' : '처리날짜 : ' + ${itemReport.itemReportResultDate}"></div>
								<hr>
							</div>
							<hr>
						</div>
				</div>
				<div th:class="col-sm-2"></div>
			</div>
		</section>
		<div th:class="header">
			<div th:include="/inc/copyRight"></div>
		</div>
	</div>
</body>
</html>