
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Second Hand</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script	src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!-- sidemenu style, javascript 파일 -->
<link rel="stylesheet" href="css/menu.css">
<script src="js/sidemenu.js"></script>
<style>
.member-btn {
	text-align: right;
}

.file-box label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.file-box input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

#bottom-box {
	position: absolute;
    bottom: 0;
}
</style>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			if($('#memberPw').val() != $('#memberPw2').val()){
				$('#pwHelper').text("pw를 확인하세요");
				$('#memberPw').focus();
				return;
			}else if($('#memberPw').val() == $('#memberPw2').val()){
				$('#myform').submit();
			}
		});
		
		$('#memberNewPic').change(function(){
			readURL(this);
		});
		
		function readURL(input) {
			if(input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
			    	$('#preview').attr('src', e.target.result);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		
		$('#btn').click(function(){
			$('#addMemberFormPic').submit();
		});	
	});
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.sido +" "+ data.sigungu;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                   addr = data.sido + data.sigungu;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = addr;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
               
            }
        }).open();
    }
</script>
</head>
<body>
	<!-- sidemenu include -->
	<div th:include="/inc/menu::sidemenu"></div>
	<!-- topmenu include -->
	<div th:include="/inc/menu::topmenu"></div>
	<div class="container-fluid">
		<section id="content">
			<form method="post" th:action="@{/modifyMember}" enctype="multipart/form-data" id="myform">
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
						<h2 th:text="'회원정보 수정'"></h2>
						<div align="center" th:class="file-box"> 
							<img th:src="@{'/upload/'+ ${memberInfo.memberPicName}}" width="100" height="100" name="memberNewPic" th:id="preview"></img>
							<label th:for="memberNewPic" th:text="'사진 업로드'"></label>
							<input type="file" id="memberNewPic" name="memberNewPic">
						</div>
						<table class="table">
							<tr>
								<td><label for="usr">닉네임 :</label></td>
								<td><input type="text" class="form-control" name = "memberNickname" id = "memberNickname" th:value="${memberInfo.memberNickname}"></td>
							</tr>
							<tr>
								<td><label for="usr">번호 :</label></td>
								<td><input type="text" class="form-control" name = "memberPhone" id = "memberPhone" th:value="${memberInfo.memberPhone}"></td>
							</tr>
							<tr>
								<td><label for="usr">주소 :</label></td>
								<td>
									<input type="hidden" id="sample6_postcode" placeholder="우편번호">
						            <input type="hidden" id="sample6_detailAddress" placeholder="상세주소">
						            <input type="hidden" id="sample6_extraAddress" placeholder="참고항목">
									<div th:class="row">
										<div th:class="col-10">
								            <input type="text" id="sample6_address" placeholder="주소" name="memberAddrAll" th:value="${memberInfo.bigCity+' '+memberInfo.middleCity+' '+memberInfo.smallCity}" class="form-control">
										</div>
										<div th:class="col-2">
								            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" th:class="btn">
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<label for="usr">비밀번호:</label><br><br><br>
									<label for="usr">비밀번호 확인:</label>
								</td>
								<td>
									<input type="password" class="form-control"	id="memberPw" name="memberPw" th:placeholder="비밀번호를입력하세요">
									<br>
									<input type="password" class="form-control"	id="memberPw2"th:placeholder="비밀번호를입력하세요"> 
									<span id = "pwHelper"></span>
									<input type="hidden" name="memberNo" th:value="${memberInfo.memberNo}">
								</td>
							</tr>
						</table>
						<div th:class="member-btn"><button type="button" id="btn" class="btn btn-success">수정</button>	</div>
					</div>
					<div class="col-sm-3"></div>
				</div>
			</form>
		</section>
	</div>
	<!-- bottomenu include -->
	<div th:include="/inc/menu::bottommenu"></div>
</body>
</html>
