<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" media="all" href="css/itemList.css" />
<script src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<link rel="stylesheet" media="all" href="css/copyRight.css" />
<script>
	let helperInit = function() {
		$('#qnaTitleHelper').text("");
		$('#qnaContenthelper').text("");
		$('#qnaCategoryHelper').text("");
	}
	//document(body) 가준비되면 작동된다.
	$(document).ready(function() {
		//button 을 클릭하면 작동된다.
		$('#modifyQnaBtn').click(function() {
			//제목 공백 확인
			if ($('#qnaTitle').val() == "") {
				helperInit();
				$('#qnaTitleHelper').text('제목을 입력해주시기 바랍니다.');
				$('#qnaTitle').focus();
				return;
			}
			if($('#categoryName').val() == ""){
				helperInit();
				$('#qnaCategoryHelper').text('카테고리를 입력해주시기 바랍니다.');
				$('#categoryName').focus();
				return;
			}
			if ($('#qnaContent').val() == "") {
				helperInit();
				$('#qnaContenthelper').text('내용을 입력해주시기 바랍니다.')
				$('#qnaContent').focus();
				return;
			}
			$('#modifyQnaForm').submit();
		});
	});
</script>
<style>
#qna-h2 {
	margin-bottom: 20px;
}

#modifyQnaBox {
	text-align: right;
}
</style>
</head>
<body>
	<div th:class="header">
		<div th:include="/inc/topHeader"></div>
	</div>
	<div th:class="container-fluid">
		<section th:id="content">
			<form th:id="modifyQnaForm" th:method="post" th:action="@{/modifyQna}">
				<div th:class="row">
					<div th:class="col-sm-2"></div>
					<div th:class="col-sm-7">
						<h2 th:id="qna-h2" th:text="'자주묻는질문 수정'"></h2>
						<input th:type="hidden" th:name="memberNo" th:value="${qna.memberNo}">
						<input th:type="hidden" th:name="originTitle" th:value="${qna.qnaTitle}">
						<div th:class="form-group">
							<label th:for="qnaTitle" th:text="'제목 : '"></label>
							<input th:class="form-control" th:type="text" th:name="qnaTitle" th:id="qnaTitle" th:value="${qna.qnaTitle}">
							<span th:id="qnaTitleHelper"></span>
						</div>
						<div th:class="form-group">
							<label th:for="categoryName" th:text="'카테고리 : '"></label>
							<select	th:class="form-control" th:name="categoryName" th:id="categoryName">
								<option value="" th:text="'카테고리를 선택하세요.'"></option>
								<option th:each="category : ${categoryList}" th:value="${category.categoryName}" th:text="${category.categoryName}" th:selected="${category.categoryName eq qna.categoryName}"></option>
							</select>
							<span th:id="qnaCategoryHelper"></span>
						</div>
						<div th:class="form-group">
							<label th:for="qnaContent" th:text="'내용 : '"></label>
							<textarea th:class="form-control" th:rows="14" th:name="qnaContent" th:id="qnaContent" th:text="${qna.qnaContent}"></textarea>
							<span th:id="qnaContenthelper"></span>
						</div>
						<div th:id="modifyQnaBox">
							<button th:id="modifyQnaBtn" th:class="'btn btn-success'" th:type="button" th:text="글수정"></button>
						</div>
						<div th:class="col-sm-3"></div>
					</div>
				</div>
			</form>
		</section>
		<div th:class="header">
			<div th:include="/inc/copyRight"></div>
		</div>
	</div>
</body>
</html>