<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>chatList</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script	src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<style>
td {
	padding: 0px;
}

.titleBox {
	text-align: center;
}
</style>
</head>
<body>
<div th:class="titleBox">
	<h2 th:text="채팅목록"></h2>
</div>
<table th:class="table" style="width: 400px;">
	<tr th:each="chatRoom : ${myChatList}">
		<td th:if="${session.loginMember.memberEmail} == ${chatRoom.chatToEmail}"><a style="width: 400px; height: 60px;" class="btn" th:href="@{/chatRoom(roomNo=${chatRoom.roomNo})}" th:text="${chatRoom.chatFromNickName}"></a></td>
		<td th:if="${session.loginMember.memberEmail} == ${chatRoom.chatFromEmail}"><a style="width: 400px; height: 60px;" class="btn" th:href="@{/chatRoom(roomNo=${chatRoom.roomNo})}" th:text="${chatRoom.chatToNickName}"></a></td>
	</tr>
</table>
</body>
</html>