<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<!-- sidemenu style, javascript 파일 -->
<link rel="stylesheet" href="css/menu.css">
<script src="js/sidemenu.js"></script>
<style>
.noticeList:hover {
	background-color: #e8e8e8;
}
#qna-h2 {
	margin-bottom: 20px;
}

#noticeListBox {
	text-align: right;
}

#bottom-box {
	position: absolute;
    bottom: 0;
}

.pagination {
	margin-top: 15px;
}

.page-item.active .page-link {
	color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
	
.page-link {
	color: black;
}
</style>
</head>
<body>
	<!-- sidemenu include -->
	<div th:include="/inc/menu::sidemenu"></div>
	<!-- topmenu include -->
	<div th:include="/inc/menu::topmenu"></div>
	<div th:class="container-fluid">
		<section th:id="content">
			<div th:class="row">
				<div th:class="col-sm-3"></div>
				<div th:class="col-sm-6">
					<h2 th:id="qna-h2" th:text="공지사항"></h2>
					<table th:class="table">
						<thead>
							<tr>
								<th th:text="'공지사항 번호'"></th>
								<th th:text="'제목'"></th>
								<th th:text="'날짜'"></th>
							</tr>
						</thead>
						<tbody th:id="qnaTable">
							<tr th:class="noticeList" th:each="notice : ${noticeList}" th:onclick="|location.href='@{/noticeDetail(noticeNo = ${notice.noticeNo})}'|">
								<td th:text="${notice.noticeNo}"></td>
								<td th:text="${notice.noticeTitle}"></td>
								<td th:text="${notice.noticeDate}"></td>
							</tr>
						</tbody>
					</table>
					<br>
					<div th:id="noticeListBox" th:if="${session.level} == 'admin'">
						<a th:href="@{/addNotice}" th:class="'btn btn-success'" th:text="입력하기"></a>
					</div>
					<div>
						<input th:type="hidden" th:id="currentPage" th:value="${page.currentPage}">
						<ul class="pagination" style="justify-content: center;">
							<li class="page-item"><a th:href="@{/noticeList(currentPage=${page.currentPageGroup-page.pagePerGroup})}" th:if="${page.currentPageGroup}>1" class="page-link"><i class="fa fa-angle-left"></i></a></li>
							<li th:if="${i}<${page.lastPage+1}" th:each="i : ${#numbers.sequence(page.currentPageGroup, page.currentPageGroup+page.pagePerGroup-1)}" th:class="${i}==${page.currentPage} ? 'page-item active' : 'page-item'">
								<span th:if="${i}==${page.currentPage}" th:text="${i}" class="page-link"></span>
								<a th:unless="${i}==${page.currentPage}" th:text=${i} th:href="@{/noticeList(currentPage=${i})}" class="page-link"></a>
							</li>
							<li class="page-item"><a th:href="@{/noticeList(currentPage=${page.currentPageGroup+page.pagePerGroup})}" th:if="${page.currentPageGroup<(page.lastPageGroup-1)*page.pagePerGroup+1}" class="page-link"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
				</div>
				<div th:class="col-sm-3"></div>
			</div>
		</section>
	</div>
	<!-- bottomenu include -->
	<div th:include="/inc/menu::bottommenu"></div>
</body>
</html>