<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>noticeDetail</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" media="all" href="css/copyRight.css" />
<script>
	$(document).ready(function() {
		$('#noticeBtn').click(function() {
			var result = confirm('정말 삭제하시겠습니까 ? 되돌릴수업어요 !');
			
			if(result){
				location.replace('noticeList');
			}else{
				return false;
			}
		});	
	}); 
	
</script>
</head>
<body>
	<div class="header">
		<div th:include="/inc/topHeader"></div>
	</div>
	<h1 th:text="'공지사항 상세보기'"></h1>
	<div>
	 	<div th:text="'번호 :'+${notice.noticeNo}"></div>
	 	<div th:text="'제목 :'+${notice.noticeTitle}"></div>
	 	<div th:text="'날짜 :'+${notice.noticeDate}"></div>
	 	<div th:text="'내용 :'+${notice.noticeContent}"></div>
	</div>
	<div>
		<a th:href="@{/modifyNotice(noticeNo=${notice.noticeNo})}" th:text="수정"></a>
		<a th:href="@{/removeNotice(noticeNo=${notice.noticeNo})}" th:text="삭제" th:id="noticeBtn"></a>
		<a th:href="@{/noticeList}" th:text="목록"></a>
	</div>
<div th:include="/inc/copyRight"></div>	
</body>
</html>