<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>sendQna</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h1 th:text="'고객센터에 문의하기'"></h1>
	<form th:method="post" th:action="@{/sendQna}">
		<div>
			<label th:for="sendQnaCategory" th:text="'카테고리 : '"></label>
			<select th:name="sendQnaCategory" th:id="sendQnaCategory">
				<option th:value="" th:text="'카테고리를 선택하세요'"></option>
				<option th:each="category : ${categoryList}" th:value="${category.categoryName}" th:text="${category.categoryName}"></option>
			</select>
		</div>
		<div>
			<label th:for="sendQnaContent" th:text="''"></label>
			<textarea th:rows="3" th:cols="30" th:name="sendQnaContent" th:id="sendQnaContent" th:placeholder="'문의내용을 입력하세요.'"></textarea>
		</div>
		<button th:type="submit" th:text="문의하기"></button>
	</form>
</body>
</html>