<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>SecondHand</title>

<!-- 아이템 관련 css -->
<link rel="stylesheet" media="all" href="css/itemList.css" />
<script	src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<link rel="stylesheet" media="all" href="css/copyRight.css" />
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<!-- 기본 api 링크-->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<link rel="stylesheet" href="css/sidemenu.css">
<script src="js/sidemenu.js"></script>
<style>

.btn1 {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

</style>
</head>
<body class="hoian-kr">
<div th:include="/inc/sidemenu::sidemenu"></div>
	<div class="header">
		<div th:include="/inc/topHeader"></div>
	</div>
		<section id="content">			
			<a th:href = "@{/storeBoardList}" style = "text-decoration: none;">
				<h1 class="head-title" id="hot-articles-head-title" >업체홍보 리스트</h1>
			</a>
			
			<div class="title-line-divider"></div>
			<form method = "post" th:action = "@{/storeBoardListByAddr}">
			<nav id="hot-articles-navigation">
				<input type="text" name="storeAddr" id="" placeholder="주소를 입력하세요."	class="hot-articles-nav-select">
				<button type="submit" class = "btn1">검색</button>
				<br>
				<br>
				<a class = "btn1" th:href = "@{/addStoreBoard}">업체홍보 등록</a>
			</nav>
			</form>
			
			<section class="cards-wrap">
				<article class="card-top " th:each = "board, index : ${list}">
					 <a class="card-link " data-event-label="98680541"
						th:href="@{/storeBoardInfo(boardNo=${board.boardNo})}">
					<div class="card-photo">
							 <img th:src="@{'/upload/'+ ${board.boardPicNameOne}}" />
					</div>
					<div class="card-desc">
						<h2 class="card-title"><span th:text = "${board.boardTitle}"></span></h2>
							<div class="card-region-name">광주 광산구 신가동</div>
							<div class="card-price ">5,000원</div>
							<div class="card-counts">
								<p><span th:text = "'번호 :'+${board.boardNo}"></span></p>
								<p><span th:text = "'카테고리 :'+${board.categoryName}"></span></p>
								<p><span th:text = "'날짜 :' +${board.boardDate.substring(0, 16)}"></span></p>
								<p><span th:text = "${board.storeAddr}"></span></p>
							</div>
					</div>
					</a>
				</article>
			</section>
		</section>
	<div class="header">
		<div th:include="/inc/copyRight"></div>
	</div>
</body>
</html>
