<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Second Hand</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<!-- sidemenu style, javascript 파일 -->
<link rel="stylesheet" href="css/menu.css">
<script src="js/sidemenu.js"></script>
<style>
.store-btn {
	text-align: right;
}

#bottom-box {
	position: absolute;
    bottom: 0;
}
</style>
</head>
<body>
	<!-- sidemenu include -->
	<div th:include="/inc/menu::sidemenu"></div>
	<!-- topmenu include -->
	<div th:include="/inc/menu::topmenu"></div>
	<div th:class="container-fluid">
		<section th:id="content">
			<div th:class="row">
				<div th:class="col-sm-3"></div>
				<div th:class="col-sm-6">
					<h2 th:text="업체정보"></h2>
					<table class="table">
						<tr>
							<td>사진</td>
							<td>
								<img th:src="@{'/upload/' + ${storeMemberInfo.storePicNameOne}}">
							</td>
						</tr>
						<tr>
							<td>업체 이름 : </td>
							<td th:text="${storeMemberInfo.storeName}"></td>
						</tr>
						<tr>
							<td>이메일</td>
							<td th:text="${storeMemberInfo.storeEmail}"></td>
						</tr>
						<tr>
							<td>주소 : </td>
							<td th:text="${storeMemberInfo.storeAddr}"></td>
						</tr>
						<tr>
							<td>전화번호 : </td>
							<td th:text="${storeMemberInfo.storePhone}"></td>
						</tr>
					</table>
					<div th:class="store-btn">
						<a th:href="@{/removeStore}" class="btn btn-success">업체탈퇴 </a> 
						<a th:href="@{/modifyStore}" class="btn btn-success">업체수정</a>
					</div>
				</div>
				<div th:class="col-sm-3"></div>
			</div>
		</section>
	</div>
	<!-- bottomenu include -->
	<div th:include="/inc/menu::bottommenu"></div>
</body>
</html>
