<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>itemReportDeferOne</title>
<style>
div.main{
	position: absolute;
	top : 500px;
	left: 800px; 
}

</style>
</head>
<body>
	<div class="header">
      <div th:include="/inc/topHeader"></div>
   </div>
<div class = "main">
	<h1>신고 상세보기 왜 안됨		</h1>
	<form method = "post" th:action = "@{/addStoreReportResult(boardNo =${storeReportDefer.boardNo}, boardReportDeferNo = ${boardReportDeferNo})}">
	<div>
	<span th:text = "${boardReportDeferNo}" th:value="${boardReportDeferNo}"></span>
		<input type ="text" name="storeReportDeferNo">
		<input type="text" id="boardNo" name="itemNo"readonly="readonly" th:value="${storeReportDefer.boardNo}">
		<input type="text" id="memberNo" name="memberNo" th:value="1" readonly="readonly">
	</div>
	<div>
		<input type="text" id="categoryName" name="categoryName"  readonly="readonly" th:value="${storeReportDefer.categoryName}">
	</div>
	<div>
		<input type= "text" id="boardReportDeferContent" name="boardReportResultContent" th:value="${storeReportDefer.boardReportDeferContent}"></textarea>
	</div>
	<div>
		<input type="text" id="boardReportDeferDate" name="boardReportResultDate" th:value="${storeReportDefer.boardReportDeferDate.substring(0,16)}">
	</div>
	<div>
		<button type="submit">신고 승인</button>
	</div>
	</form>
</div>
	 <div class="header">
      <div th:include="/inc/copyRight"></div>
   </div>
</body>
</html>