<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>SecondHand</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base-d5f8bd2e2e6729d4f86324f85bbdb9a5c6bafeff1957b761a1187ae9c7d773b8.js"></script>
<!-- sidemenu style, javascript 파일 -->
<link rel="stylesheet" href="css/menu.css">
<script src="js/sidemenu.js"></script>
<style>
#hot-articles-head-title {
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn1 {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.col-sm-7 {
	height: 2000px;
}

.card:hover {
	background-color: #e8e8e8;
}

#searchWord {
	width: 90%;
}

#searchBtn {
	width: 10%;
}
</style>
</head>
<body>
	<!-- sidemenu include -->
	<div th:include="/inc/menu::sidemenu"></div>
	<!-- topmenu include -->
	<div th:include="/inc/menu::topmenu"></div>
			<div th:class="container-fluid">
			<section th:id="content">
				<div th:class="row">
					<div th:class="col-sm-2"></div>
					<div th:class="col-sm-7">		
					<h2 th:class="head-title" id="hot-articles-head-title" th:text="'업체홍보 리스트'"></h2>
					<div th:class="form-group">
						<form th:class="form-inline" th:method="get" th:action = "@{/storeBoardListByAddr}">
							<label th:for="searchWord"></label>
							<input th:class="form-control" th:type="text" th:name="smallCity" th:id="searchWord" th:placeholder="'주소를 검색하세요'">
							<button th:class="'btn btn-success'" th:type="submit" th:id="searchBtn" th:text="검색"></button>
						</form>
					</div>
					<div th:if="${session.loginMember} != null">
						<a class = "btn1" th:href = "@{/addStoreBoard}">업체홍보 등록</a>
					</div>
					<section class="cards-wrap">
						<div th:each="board, index : ${list}">
							<div class="card" th:style="${index.index}%4==3 ? 'width:250px; margin-right:5px;' : 'width:250px; float:left;'" th:onclick="|location.href='@{storeBoardInfo/(boardNo = ${board.boardNo})}'|">
								<img class="card-img-bottom" th:src="@{'/upload/'+ ${board.boardPicNameOne}}" alt="Card image" style="width:100%"/>
								<div class="card-body">
									<h2 class="card-title"><span th:text="${board.boardTitle}"></span></h2>								
								</div>
								<div class="card-text">
									<!-- 주소 업체 조인해서 주소가져오기 -->
									<!-- <div class="card-region-name"><span th:text="${board.bigCity} + ${board.middleCity} + ${board.smallCity}"></span></div> -->
									<div class="card-counts">
											<p><span th:text="'번호 :'+${board.boardNo}"></span></p>
											<p><span th:text="'카테고리 :'+${board.categoryName}"></span></p>
											<p><span th:text="'날짜 :' +${board.boardDate.substring(0, 16)}"></span></p>
											<p><span th:text="${board.storeAddr}"></span></p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div th:class="col-sm-3"></div>
			</div>				
		</section>
	<!-- bottomenu include -->
	<div th:include="/inc/menu::bottommenu"></div>
</body>
</html>
