body{
font : 14px/1.8 Arial, Helvetica, sans-serif;
}
.frame{
width: 800px;
margin: 0 auto;
}
.header{
padding: 40px 10px;
text_alighn: center;
margin_bottom: 20px;
}
.main{
float: left;
width:1200px;
}
.categoryImg{
	width:1200px;	
	padding-left: 400px;
	padding-top: 40px;
}
.mainImg{
	padding-left: 50px;
	width: 230px;
	height: 230px;
}
.mainImgByItem{
	padding-left: 100px;
	width: 130px;
	height: 130px;
}
.mainImg3{
	padding-bottom : 40px;
	padding-left: 50px;
	width: 100px;
}
.mainImg4{
	padding-bottom : 40px;
	padding-left: 50px;
	width: 100px;
}
.mainImg5{
	padding-bottom : 40px;
	padding-left: 50px;
	width: 100px;
}
.mainImg6{
	padding-bottom : 40px;
	padding-left: 50px;
	width: 100px;
}
.mainImg7{
	padding-bottom : 40px;
	padding-left: 50px;
	width: 100px;
}
.mainImg8{
	padding-bottom : 40px;
	padding-left: 50px;
	width: 100px;
}
a.underLine{
	 text-decoration: none;
}