<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Second Hand</title>
<link rel="stylesheet" media="all" href="css/copyRight.css" />
<script src="js/main.js"></script>
</head>
<body>
	<div th:fragment="copyRight">
		<footer id="footer">
		<ul class="footer-list">
			<li class="footer-list-item">인사말</li>
			<li class="footer-list-item text-bold">프로젝트 소개</li>
			<li class="footer-list-item">조원 소개</li>
			<li class="footer-list-item text-bold">도움주신분들</li>
			<li class="footer-list-item">후기</li>
		</ul>
		<ul class="footer-list" id="footer-address-list">
			<li class="footer-list-item">프로젝트명 - SecondHand</li>
			<li class="footer-list-item">
				<address>구디아카데미 - Second Hand Team</address>
			</li>
			<li class="footer-list-item">
				<p>고객문의 : chonghg21@naver.com</p>
			</li>
		</ul>
		<p id="ceo">제작자 : 정종혁, 김경덕, 정지성, 이병관, 남상현, 송중우</p>
		<div id="copyright">Copyright © Danggeun Market Inc. All rights
			reserved.</div>

	</footer>
	</div>
</body>
</html>