<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="sidemenu" class="sidenavi">
		<div th:id="mySidenav" th:class="sidenav">
			<a th:href="@{javascript:void(0)}" th:class="closebtn" onclick="closeNav()">&times;</a>
			
			<a th:href="@{/}">홈</a> 
			<a th:href="@{/noticeList}">공지사항</a> 
			<a th:href="@{/itemList}">상품</a> 
			<a th:href="@{/storeBoardList}">업체홍보게시판</a>
			<a th:class="adminMenu">카테고리</a>
			<ul th:class="hide">
				<li><a th:href="@{/categoryListByItem}">-아이템</a></li>
				<li><a th:href="@{/categoryListByStore}">-홍보업체</a></li>
			</ul>
			<a th:href="@{/qnaList}">자주묻는질문</a>
			<a th:class="adminMenu" th:if="${session.level}=='admin'">관리자메뉴</a>
			<ul th:class="hide">
				<li><a th:href="@{/}">-회원리스트</a></li>
				<li><a th:href="@{/storeList}">-업체리스트</a></li>
				<li><a th:href="@{/categoryList}">-카테고리리스트</a></li>
				<li><a th:href="@{/reportList}">-신고리스트</a></li>
			</ul>
		</div>
		<span
			style="font-size: 30px; cursor: pointer; color: #B5E61D; margin: 10px;"
			onclick="openNav()">&#9776;</span>
	</div>
</body>
</html>
