<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.CategoryMapper">
	<!-- 카테고리 리스트 -->
	<select id="selectCategoryList" parameterType="String" resultType="com.project.secondhand.vo.Category">
		SELECT 
			category_name categoryName
		FROM market_category
		WHERE category_type =#{categoryType}	
	</select>	

	<!-- 전체 카테고리 리스트 -->
	<select id="selectCategoryListAll" resultType="com.project.secondhand.vo.Category">
		SELECT 
			category_name categoryName
		FROM market_category
	</select>
	
	<update id="updateCategory" parameterType="java.util.Map">
		UPDATE market_category SET
			category_name = #{categoryName}
		WHERE category_name = #{originName}
	</update>
	
	<delete id="deleteCategory" parameterType="String">
		DELETE FROM market_category
		WHERE category_name = #{categoryName}
	</delete>
	
	<insert id="insertCategory" parameterType="com.project.secondhand.vo.Category">
		INSERT INTO market_category (
			category_name,
			category_type
		) VALUES (
			#{categoryName},
			#{categoryType}
		)
	</insert>
</mapper>