<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.ItemReportDeferMapper">
	<select id="itemReportDeferList" parameterType="com.project.secondhand.vo.ItemReportDefer" resultType="com.project.secondhand.vo.ItemReportDefer">
		SELECT
			item_report_defer_no AS itemReportDeferNo,
			item_no AS itemNo,
			member_no AS memberNo,
			category_name AS categoryName,
			item_report_defer_content AS itemReportDeferContent,
			item_report_defer_date AS itemReportDeferDate
		FROM market_item_report_defer
			
	</select>
	<select id="itemReportDeferInfo" parameterType="com.project.secondhand.vo.ItemReportDefer" resultType="com.project.secondhand.vo.ItemReportDefer">
		SELECT
			item_report_defer_no AS itemReportDeferNo,
			item_no AS itemNo,
			member_no AS memberNo,
			category_name AS categoryName,
			item_report_defer_content AS itemReportDeferContent,
			item_report_defer_date AS itemReportDeferDate
			FROM market_item_report_defer
			WHERE item_report_defer_no =#{itemReportDeferNo}
	</select>
	<insert id="addItemReportDefer" parameterType="com.project.secondhand.vo.ItemReportDefer">
		INSERT INTO 
		market_item_report_defer(
			item_report_defer_no,
			item_no,
			member_no,
			category_name,
			item_report_defer_content,
			item_report_defer_date
		)VALUES(
			#{itemReportDeferNo},
			#{itemNo},
			#{memberNo},
			#{categoryName},
			#{itemReportDeferContent},
			NOW())
	</insert>
	<delete id="removeItemReportDefer" parameterType="int">
		DELETE FROM market_item_report_defer
		WHERE item_report_defer_no =#{itemReportDeferNo}
	</delete>
</mapper>