<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.ItemReportResultMapper">
	<select id="itemReportResultList" parameterType="com.project.secondhand.vo.ItemReportResultAndItemAndMember" resultType="com.project.secondhand.vo.ItemReportResultAndItemAndMember">
		SELECT
			ir.item_report_result_no AS itemReportResultNo,
			ir.item_no AS itemNo,
			ir.member_no AS memberNo,
			ir.category_name AS categoryName,
			ir.item_report_result_content AS itemReportResultContent,
			ir.item_report_result_date AS itemReportResultDate,
			i.item_title AS itemTitle,
			i.item_content AS itemContent,
			m.member_nickname AS memberNickname
		FROM market_item_report_result ir 
		INNER JOIN market_item i ON ir.item_no=i.item_no
		INNER JOIN market_member m ON ir.member_no=m.member_no
			
	</select>
	<select id="itemReportResultInfo" parameterType="com.project.secondhand.vo.ItemReportResultAndItemAndMember" resultType="com.project.secondhand.vo.ItemReportResultAndItemAndMember">
		SELECT
			ir.item_report_result_no AS itemReportResultNo,
			ir.item_no AS itemNo,
			ir.member_no AS memberNo,
			ir.category_name AS categoryName,
			ir.item_report_result_content AS itemReportResultContent,
			ir.item_report_result_date AS itemReportResultDate,
			i.item_title AS itemTitle,
			i.item_content AS itemContent,
			m.member_nickname AS memberNickname
		FROM market_item_report_result ir 
		INNER JOIN market_item i ON ir.item_no=i.item_no
		INNER JOIN market_member m ON ir.member_no=m.member_no
		WHERE item_report_result_no =#{itemReportResultNo}
	</select>
	<insert id="addItemReportResult" parameterType="com.project.secondhand.vo.ItemReportResultAndItemAndMember">
		INSERT INTO 
		market_item_report_result(
			item_report_result_no,
			item_no,
			member_no,
			category_name,
			item_report_result_content,
			item_report_result_date
		)VALUES(
			#{itemReportResultNo},
			#{itemNo},
			#{memberNo},
			#{categoryName},
			#{itemReportResultContent},
			NOW())
	</insert>
</mapper>