<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.MemberMapper">
  
  <!-- 로그인 -->
  <select id="selectLoginMember" parameterType="com.project.secondhand.vo.LoginMember" resultType="com.project.secondhand.vo.LoginMember">
  	SELECT member_email AS memberEmail, member_pw AS memberPw
  	FROM market_member
  	WHERE member_email =#{memberEmail}
  	AND member_pw = PASSWORD(#{memberPw})
   </select>
  
  <!-- 회원가입 -->
  <insert id ="addMember" parameterType="com.project.secondhand.vo.Member" useGeneratedKeys="true" keyColumn="member_no" keyProperty="memberNo">
  	INSERT INTO market_member
  	(
  		member_no,
  		member_nickname,
  		member_pw,
  		member_phone,
  		member_email,
  		member_date
  	)
  	VALUES
  	(
  		#{memberNo},
  		#{memberNickname},
  		PASSWORD(#{memberPw}),
  		#{memberPhone},
  		#{memberEmail},
		NOW()  	
  	)
  </insert>
  
  <!-- 회원탈퇴 -->
  <delete id="removeMember" parameterType="com.project.secondhand.vo.MemberInfo">
  	DELETE FROM market_member
  	WHERE member_pw = PASSWORD(#{memberPw})
  	AND member_no = #{memberNo}
  </delete>  
  <!-- 회원 주소 삭제 -->
  <delete id="removeMemberAddr" parameterType="com.project.secondhand.vo.MemberInfo">
  	DELETE FROM market_member_addr
  	WHERE member_no = #{memberNo}
  </delete>
  <!-- 회원 사진 삭제 -->
  <delete id="removeMemberPic" parameterType="com.project.secondhand.vo.MemberInfo">
  	DELETE FROM market_member_pic
  	WHERE member_no = #{memberNo}
  </delete>  
  
<!--   <delete id="removeMemberPic" parameterType="com.project.secondhand.vo.MemberPic">
  	DELETE
  	FROM market_member_Pic
  	WHERE member_no=#{memberNo}
  </delete> -->
   
  <!-- id(email)중복체크 -->
  <select id="memberIdCheck" resultType="String" parameterType="String">
  	SELECT
  		member_email
  	FROM
  	(
  	 SELECT member_email FROM member 
  	 UNION
  	 SELECT member_email FROM backup
  	 )t
  	 WHERE member_email=#{memberIdCk}
  </select>
	<!-- 회원가입 사진 -->
  <insert id="addMemberPic" parameterType="com.project.secondhand.vo.MemberPic">
  	INSERT INTO
  		market_member_pic(
  		member_no,
  		member_pic_name
  		)VALUES(
  		#{memberNo},
  		#{memberPicName}
  		)
  </insert>
  
  <!-- 닉네임 중복체크 -->
  <select id="NickCheck" resultType="com.project.secondhand.vo.Member">
  	SELECT member_nickname
  	FROM market_member
  	WHERE member_nickname ={#memberNickname}
  </select>
  <!-- 회원 주소 추가 -->
  <insert id="addMemberAddr" parameterType="com.project.secondhand.vo.MemberAddr">
  	INSERT INTO
  		market_member_addr(
  			member_no,
  			big_city,
  			middle_city,
  			small_city
  		)VALUES(
  			#{memberNo},
  			#{bigCity},
  			#{middleCity},
  			#{smallCity}
  		)
  </insert>
	<!-- 회원 온도 추가 -->
	<insert id="addMemberTemper" parameterType="com.project.secondhand.vo.Temper">
		INSERT INTO
			market_temper(
				member_no,
				temper,
				temper_total,
				temper_date
			)VALUES(
				#{memberNo},
				36.5,
				36.5,
				NOW()
			)
	</insert>
  
  <update id ="updateMemberPw" parameterType="com.project.secondhand.vo.Member">
  	UPDATE market_member
  	SET
  		member_pw = PASSWORD(#{memberPw})
  	WHERE member_phone = #{memberPhone}
  	AND member_email = #{memberEmail}
  </update>
  
  <!-- 비밀번호 찾기 -->
  <select id="findMemberPw" resultType="com.project.secondhand.vo.Member" parameterType="com.project.secondhand.vo.Member">
  	SELECT *
  	FROM market_member
  	WHERE member_phone = #{memberPhone}
  	AND member_email =#{memberEmail}
  </select>  
  
   <!-- 아이디(이메일) 찾기 -->
  <select id="findMemberId" resultType="String" parameterType="com.project.secondhand.vo.Member">
	SELECT
		member_email
	FROM market_member
	WHERE member_phone = #{memberPhone}
  </select>
  
  <!-- 회원 정보 보기 -->
  <select id="selectMemberOne" parameterType="com.project.secondhand.vo.LoginMember" resultType="com.project.secondhand.vo.MemberInfo">
  	SELECT
		mm.member_nickname AS memberNickname,
		mm.member_no AS memberNo,
		mm.member_phone AS memberPhone,
		mm.member_email AS memberEmail,
		mm.member_date AS memberDate,
		mmp.member_pic_name AS memberPicName,
		mma.big_city AS bigCity,
		mma.middle_city AS middleCity,
		mma.small_city AS smallCity,
		mt.temper_total AS temperTotal
	FROM market_member mm
	INNER JOIN market_member_pic mmp ON mm.member_no = mmp.member_no
	INNER JOIN market_member_addr mma ON mm.member_no = mma.member_no
	INNER JOIN market_temper mt ON mm.member_no = mt.member_no
	WHERE mm.member_email = #{memberEmail}
  </select>
  
  <!-- 회원 정보 수정 -->
  <update id="modifyMember" parameterType="com.project.secondhand.vo.MemberInfo">
  	UPDATE market_member mm 
  	INNER JOIN market_member_addr mma ON mm.member_no = mma.member_no
		SET mm.member_nickname=#{memberNickname},
			mm.member_phone=#{memberPhone},
			mma.big_city=#{bigCity},
			mma.middle_city=#{middleCity},
			mma.small_city=#{smallCity}	
	WHERE mm.member_no = #{memberNo}
  </update>
  
  <!-- 회원 번호 가져오기 -->
  <select id="selectMemberNoByEmail" parameterType="String" resultType="int">
     SELECT
        member_no memberNo
     FROM market_member
     WHERE member_email = #{memberEmail}
  </select>
  
  <!-- 회원 사진 가져오기 -->
  <select id="selectMemberPicOne" parameterType="int" resultType="String">
  	SELECT
  		member_pic_name memberPicName
  	FROM market_member_pic
  	WHERE member_no = #{memberNo}
  </select>
  
  <!-- 회원 리스트 -->
  <select id="selectMemberList" parameterType="com.project.secondhand.vo.Page" resultType="com.project.secondhand.vo.MemberAndReportCnt">
  	SELECT
  		member_no memberNo,
  		member_nickname memberNickName,
  		member_phone memberPhone,
  		member_email memberEmail,
  		member_date memberDate
  	FROM market_member
  	LIMIT #{beginRow}, #{rowPerPage}
  </select>
  
  <!-- 회원 전체 행 수 -->
  <select id="selectNoticeTotalRow" resultType="int">
  	SELECT
  		COUNT(*)
  	FROM market_member
  </select>
  
  <!-- 관리자 회원 정보 -->
  <select id="selectMemberOneByAdmin" parameterType="int" resultType="com.project.secondhand.vo.MemberInfo">
  	SELECT
		mm.member_nickname memberNickname,
		mm.member_no memberNo,
		mm.member_phone memberPhone,
		mm.member_email memberEmail,
		mm.member_date memberDate,
		mmp.member_pic_name memberPicName,
		mma.big_city bigCity,
		mma.middle_city middleCity,
		mma.small_city smallCity,
		mt.temper_total temperTotal
	FROM market_member mm
	INNER JOIN market_member_pic mmp ON mm.member_no = mmp.member_no
	INNER JOIN market_member_addr mma ON mm.member_no = mma.member_no
	INNER JOIN market_temper mt ON mm.member_no = mt.member_no
	WHERE mm.member_no = #{memberNo}
  </select>
  
  <!-- 관리자 회원이 올린 상품 리스트 -->
  <select id="selectItemListByMemberNo" parameterType="int" resultType="com.project.secondhand.vo.ItemList">
 	 SELECT
  		mi.item_no itemNo,
  		mi.category_name categoryName,
  		mi.item_title itemTitle,
  		mi.item_price itemPrice,
  		mi.item_state itemState,
  		mi.item_date itemDate,
  		mip.item_pic_name_one itemPicNameOne,
  		mip.item_pic_name_two itemPicNameTwo,
  		mip.item_pic_name_three itemPicNameThree,
  		mip.item_pic_name_four itemPicNameFour,
  		mip.item_pic_name_five itemPicNameFive
  	FROM market_item mi
  	INNER JOIN market_item_pic mip ON mi.item_no = mip.item_no
  	WHERE member_no = #{memberNo}
  </select>
</mapper>