<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.MemberMapper">
  
  <!-- 로그인 -->
  <select id="selectLoginMember" parameterType="com.project.secondhand.vo.LoginMember" resultType="com.project.secondhand.vo.LoginMember">
  	SELECT member_email AS memberEmail, member_pw AS memberPw
  	FROM market_member
  	WHERE member_email =#{memberEmail}
  	AND member_pw = PASSWORD(#{memberPw})
   </select>
  
  <!-- 회원가입 -->
  <insert id ="addMember" parameterType="com.project.secondhand.vo.Member" useGeneratedKeys="true" keyColumn="member_no" keyProperty="memberNo">
  	INSERT INTO market_member
  	(
  		member_no,
  		member_nickname,
  		member_pw,
  		member_phone,
  		member_email,
  		member_date
  	)
  	VALUES
  	(
  		#{memberNo},
  		#{memberNickname},
  		PASSWORD(#{memberPw}),
  		#{memberPhone},
  		#{memberEmail},
		NOW()  	
  	)
  </insert>
  
  <!-- id(email)중복체크 -->
  <select id="memberIdCheck" resultType="String" parameterType="String">
  	SELECT
  		member_email
  	FROM
  	(
  	 SELECT member_email FROM member 
  	 UNION
  	 SELECT member_email FROM backup
  	 )t
  	 WHERE member_email=#{memberIdCk}
  </select>
	<!-- 회원가입 사진 -->
  <insert id="addMemberPic" parameterType="com.project.secondhand.vo.MemberPic">
  	INSERT INTO
  		market_member_pic(
  		member_no,
  		member_pic_name
  		)VALUES(
  		#{memberNo},
  		#{memberPicName}
  		)
  </insert>
  
  <!-- 닉네임 중복체크 -->
  <select id="NickCheck" resultType="com.project.secondhand.vo.Member">
  	SELECT member_nickname
  	FROM market_member
  	WHERE member_nickname ={#memberNickname}
  </select>
  
  
  
  
  
  
  
  
</mapper>