<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.QnaMapper">
	<!-- 제목 중복검사 -->
	<select id="titleCheck" parameterType="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM market_qna
		WHERE qna_title = #{title}
	</select>

	<!-- 자주 묻는 질문 입력하기 -->
	<insert id="insertQna">
		INSERT INTO market_qna(
			qna_title,
			member_no,
			category_name,
			qna_content
		)VALUES(
			#{qnaTitle},
			1,
			#{categoryName},
			#{qnaContent}
		)
	</insert>
	<!-- 자주 묻는 질문 리스트 -->
	<select id="selectQnaList" parameterType="String" resultType="com.project.secondhand.vo.Qna">
		SELECT 
			qna_title qnaTitle,
			member_no memberNo,
			category_name categoryName,
			qna_content qnaContent
		FROM market_qna			
		WHERE qna_title LIKE CONCAT('%',#{searchWord},'%')
		ORDER BY qna_title DESC
	</select>
	
	<!-- 자주 묻는 질문 상세보기 -->
	<select id="selectQna" parameterType="String" resultType="com.project.secondhand.vo.Qna">
		SELECT 
			qna_title qnaTitle,
			member_no memberNo,
			category_name categoryName,
			qna_content qnaContent
		FROM market_qna
		WHERE qna_title=#{qnaTitle}
	</select>	
	
	<!-- 자주 묻는 질문 수정하기 -->
	<update id="updateQna" parameterType="java.util.Map">
		UPDATE market_qna
		SET
			qna_title=#{qna.qnaTitle},
			category_name=#{qna.categoryName},
			qna_content=#{qna.qnaContent}
		WHERE qna_title=#{originTitle}
	</update>
	
	<!-- 자주 묻는 질문 수정하기(제목 제외) -->
	<update id="updateQnaExceptTitle" parameterType="com.project.secondhand.vo.Qna">
		UPDATE market_qna
		SET
			category_name=#{categoryName},
			qna_content=#{qnaContent}
		WHERE qna_title=#{qnaTitle}
	</update>
	
	<!-- 자주 묻는 질문 삭제하기 -->
	<delete id="deleteQna" parameterType="String">
		DELETE FROM market_qna
		WHERE qna_title=#{qnaTitle}
	</delete>	
	<!-- 자주 묻는 질문 카테고리별 필터링 -->
	<select id="selectQnaListByCategory" parameterType="java.util.Map" resultType="com.project.secondhand.vo.Qna">
      SELECT 
         qna_title qnaTitle,
         member_no memberNo,
         category_name categoryName,
         qna_content qnaContent
      FROM market_qna         
      WHERE qna_title LIKE CONCAT('%',#{searchWord},'%')
      AND category_name LIKE CONCAT('%',#{categoryName},'%')  
   </select>
	
</mapper>