<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.StoreMapper">
	<!-- 업체 리스트 -->
  <sql id = "selectBoard">
		board_no AS boardNo,
  		store_no AS storeNo,
  		category_name AS categoryName,
  		board_title AS boardTitle,
  		board_content AS boardContent,
  		board_date AS boardDate
  </sql>
  <select id="selectStoreBoardList" parameterType="com.project.secondhand.vo.StoreList" resultType="com.project.secondhand.vo.StoreList">
  	SELECT
  	ms.store_name AS storeName,
	ms.store_addr AS storeAddr,
	ms.store_phone AS storePhone,
	ms.store_email AS storeEmail,
	msb.board_no AS boardNo,
	msb.store_no AS storeNo,
	msb.category_name AS categoryName,
	msb.board_title AS boardTitle,
	msb.board_content AS boardContent,
	msb.board_date AS boardDate,
	msbp.board_pic_name_one AS boardPicNameOne,
	msbp.board_pic_name_two AS boardPicNameTwo,
	msbp.board_pic_name_three AS boardPicNameThree,
	msbp.board_pic_name_four AS boardPicNameFour,
	msbp.board_pic_name_Five AS boardPicNamefive
	FROM market_store_board msb INNER JOIN market_store_board_pic msbp INNER JOIN market_store ms
	ON msb.board_no = msbp.board_no
	AND ms.store_no = msb.store_no

  </select>
  <!-- 업체 리스트 상세보기 -->
  <select id="selectStoreBoardInfo" parameterType="com.project.secondhand.vo.StoreList" resultType="com.project.secondhand.vo.StoreList">
  	SELECT
  	ms.store_name AS storeName,
	ms.store_addr AS storeAddr,
	ms.store_phone AS storePhone,
	ms.store_email AS storeEmail,
	msb.board_no AS boardNo,
	msb.store_no AS storeNo,
	msb.category_name AS categoryName,
	msb.board_title AS boardTitle,
	msb.board_content AS boardContent,
	msb.board_date AS boardDate,
	msbp.board_pic_name_one AS boardPicNameOne,
	msbp.board_pic_name_two AS boardPicNameTwo,
	msbp.board_pic_name_three AS boardPicNameThree,
	msbp.board_pic_name_four AS boardPicNameFour,
	msbp.board_pic_name_Five AS boardPicNamefive
	FROM market_store_board msb INNER JOIN market_store_board_pic msbp INNER JOIN market_store ms
	ON msb.board_no = msbp.board_no
	AND ms.store_no = msb.store_no
  	WHERE msb.board_no = #{boardNo}
  </select>
  <!-- 업체의 주소를 기준으로 리스트 가져오기 -->
  <select id="selectStoreBoardListByAddr" parameterType="String" resultType="com.project.secondhand.vo.StoreList">
  	SELECT
	ms.store_name AS storeName,
	ms.store_addr AS storeAddr,
	ms.store_phone AS storePhone,
	ms.store_email AS storeEmail,
	msb.board_no AS boardNo,
	msb.store_no AS storeNo,
	msb.category_name AS categoryName,
	msb.board_title AS boardTitle,
	msb.board_content AS boardContent,
	msb.board_date AS boardDate,
	msbp.board_pic_name_one AS boardPicNameOne,
	msbp.board_pic_name_two AS boardPicNameTwo,
	msbp.board_pic_name_three AS boardPicNameThree,
	msbp.board_pic_name_four AS boardPicNameFour,
	msbp.board_pic_name_Five AS boardPicNamefive
	FROM market_store_board msb INNER JOIN market_store_board_pic msbp
	INNER JOIN market_store ms
	ON msb.board_no = msbp.board_no
	AND ms.store_no = msb.store_no
  	WHERE ms.store_addr = #{storeAddr}
  </select>
  <!-- 업체의 카테고리를 기준으로 리스트 가져오기 -->
  <select id="selectStoreBoardListByCategory" parameterType="String" resultType="com.project.secondhand.vo.StoreList">
  	SELECT
	ms.store_name AS storeName,
	ms.store_addr AS storeAddr,
	ms.store_phone AS storePhone,
	ms.store_email AS storeEmail,
	msb.board_no AS boardNo,
	msb.store_no AS storeNo,
	msb.category_name AS categoryName,
	msb.board_title AS boardTitle,
	msb.board_content AS boardContent,
	msb.board_date AS boardDate,
	msbp.board_pic_name_one AS boardPicNameOne,
	msbp.board_pic_name_two AS boardPicNameTwo,
	msbp.board_pic_name_three AS boardPicNameThree,
	msbp.board_pic_name_four AS boardPicNameFour,
	msbp.board_pic_name_Five AS boardPicNamefive
	FROM market_store_board msb INNER JOIN market_store_board_pic msbp
	INNER JOIN market_store ms
	ON msb.board_no = msbp.board_no
	AND ms.store_no = msb.store_no
  	WHERE msb.category_name = #{categoryName}
  </select>
  <!-- 수정에 쓸 업체 상세보기 받기 -->
  <select id="selectStoreBoardInfoUpdate" resultType="com.project.secondhand.vo.StoreBoard" parameterType="int">
	  SELECT
	  	board_no AS boardNo,
	  	board_title AS boardTitle,
	  	board_content AS boardContent,
	  	board_date AS boardDate
	  FROM market_store_board
	  WHERE board_no =#{boardNo}
  	
  </select>
  <!-- 업체 추가하기 -->
  <insert id="insertStoreBoard" parameterType="com.project.secondhand.vo.StoreBoard" useGeneratedKeys="true" keyColumn="board_no" keyProperty="boardNo">
	INSERT INTO
	market_store_board(
		board_no,
		store_no,
		category_name,
		board_title,
		board_content,
		board_date
		)VALUES(
		#{boardNo},
		#{storeNo},
		#{categoryName},
		#{boardTitle},
		#{boardContent},
		NOW()
		)  
  </insert>
  	<!--  업체 가입  -->
  <insert id="addStore" parameterType="com.project.secondhand.vo.Store" useGeneratedKeys="true" keyColumn="store_no" keyProperty="storeNo">
  	INSERT INTO
  		market_store(
  			store_no,
  			store_name,
  			store_addr,
  			store_phone,
  			store_email,
  			store_pw,
  			store_date
  		)VALUES(
  			#{storeNo},
  			#{storeName},
  			#{storeAddr},
  			#{storePhone},
  			#{storeEmail},
  			PASSWORD(#{storePw}),
  			NOW()
  		)
  </insert>
  <!-- 업체 사진추가 -->
  <insert id="addStorePic" parameterType="com.project.secondhand.vo.StorePic">
  	INSERT INTO 
  		market_store_pic(
  			store_no,
  			store_pic_name_one
  		)VALUES(
  			#{storeNo},
  			#{storePicNameOne}
  		)
  		
  </insert>
	<!-- 업체 로그인 확인 -->
	<select id="selectLoginStore" parameterType="com.project.secondhand.vo.Store" resultType="com.project.secondhand.vo.Store">
		SELECT
			store_no AS storeNo, 
			store_email AS storeEmail,
			store_pw AS storePw
		FROM market_store
		WHERE store_email = #{storeEmail}
		AND store_pw = PASSWORD(#{storePw})
	</select>
  <!-- 업체 게시글 수정하기 -->
  <update id="updateStoreBoard" parameterType="com.project.secondhand.vo.StoreBoard">
  	UPDATE market_store_board
  	SET
  		board_title = #{boardTitle},
  		board_content = #{boardContent},
  		board_date = NOW()
  	WHERE board_no =#{boardNo}
  </update>
  <!-- 업체 삭제하기 -->
  <delete id="deleteStoreBoard" parameterType = "int">
  	DELETE
  	FROM market_store_board
  	WHERE board_no = #{boardNo}
  </delete>
  <!-- 업체 개인정보 -->
  <select id="storeMemberInfo" parameterType="com.project.secondhand.vo.Store" resultType="com.project.secondhand.vo.StoreMemberInfo">
  	SELECT
  		ms.store_no AS storeNo,
  		ms.store_name AS storeName,
  		ms.store_addr AS storeAddr,
  		ms.store_email AS storeEmail,
  		ms.store_pw AS storePw,
  		ms.store_phone AS storePhone,
  		ms.store_date AS storeDate,
  		msp.store_pic_name_one AS storePicNameOne
  	FROM market_store ms INNER JOIN market_store_pic msp
  	ON ms.store_no = msp.store_no
  	WHERE ms.store_email = #{storeEmail}
  </select>
  <!-- 업체 개인정보 수정 -->
  <update id="modifyStore" parameterType="com.project.secondhand.vo.StoreMemberInfo">
  	UPDATE market_store
  		SET store_phone = #{storePhone},
  			store_addr = #{storeAddr}
  	WHERE store_no = #{storeNo}
  </update>
   <!-- 비밀번호 찾기 -->
  <select id="findStorePw" resultType="com.project.secondhand.vo.Store" parameterType="com.project.secondhand.vo.Store">
  	SELECT *
  	FROM market_store
  	WHERE store_phone = #{storePhone}
  	AND store_email =#{storeEmail}
  </select>  
  
   <!-- 아이디(이메일) 찾기 -->
  <select id="findStorerId" resultType="String" parameterType="com.project.secondhand.vo.Store">
	SELECT
		store_email
	FROM market_store
	WHERE store_phone = #{storePhone}
  </select>
  
  <!-- 업체 리스트 -->
  <select id="selectStoreList" parameterType="com.project.secondhand.vo.Page" resultType="com.project.secondhand.vo.StoreAndReportCnt">
  	SELECT
  		store_no storeNo,
  		store_name storeName,
  		store_email storeEmail
  	FROM market_store
  	LIMIT #{beginRow}, #{rowPerPage}
  </select>
  
  <!-- 업체 전체 행 수 -->
  <select id="selectNoticeTotalRow" resultType="int">
  	SELECT
  		COUNT(*)
  	FROM market_store
  </select>
  
  <!-- 관리자 업체 정보 상세보기 -->
  <select id="selectStoreOne" parameterType="int" resultType="com.project.secondhand.vo.Store">
  	SELECT
  		store_name storeName,
  		store_addr storeAddr,
  		store_phone storePhone
  	FROM market_store
  	WHERE store_no = #{storeNo}
  </select>
  
  <!-- 관리자 해당 업체 홍보글 리스트 -->
  <select id="selectStoreBoardListByStore" parameterType="int" resultType="com.project.secondhand.vo.StoreBoard">
  	SELECT
  		board_no boardNo,
  		category_name categoryName,
  		board_title boardTitle,
  		board_date boardDate
  	FROM market_store_board
  	WHERE store_no = #{storeNo}
  </select>
</mapper>