<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.StorePicMapper">
	<select id="selectStoreBoardPic" parameterType="com.project.secondhand.vo.StoreBoardPic" resultType="com.project.secondhand.vo.StoreBoardPic">
	SELECT board_pic_name_one,
		board_pic_name_two,
		board_pic_name_three,
		board_pic_name_four,
		board_pic_name_five
	FROM market_store_board_pic
	WHERE board_no = 4
	</select>
	<!-- 업체 게시글 사진 삭제 -->
	<update id = "updateStoreBoardPic" parameterType = "com.project.secondhand.vo.StoreBoardPic">
	UPDATE market_store_board_pic
	SET	
	board_pic_name_one = #{boardPicNameOne},
	board_pic_name_two = #{boardPicNameTwo},
	board_pic_name_three = #{boardPicNameThree},
	board_pic_name_four = #{boardPicNameFour},
	board_pic_name_five = #{boardPicNameFive}
	WHERE
	board_no = #{boardNo}
	
	</update>
	<delete id="deleteStoreBoardPic" parameterType="int">
		DELETE
		FROM market_store_board_pic
		WHERE board_no =#{boardNo}
	</delete>
	<!-- 업체 회원가입시 사진 추가 -->
	<insert id="insertStorePic"
		parameterType="com.project.secondhand.vo.StorePic">
		INSERT INTO market_store_pic(
		store_no,
		store_pic_name_one,
		store_pic_name_two,
		store_pic_name_three,
		store_pic_name_four,
		store_pic_name_five
		)VALUES(
		#{storeNo},
		#{storePicNameOne},
		#{storePicNameTwo},
		#{storePicNameThree},
		#{storePicNameFour},
		#{storePicNameFive}
		)
	</insert>
	<!-- 업체 게시글 작성시 사진추가 -->
	<insert id="insertStoreBoardPic" parameterType="com.project.secondhand.vo.StoreBoardPic">
		INSERT INTO market_store_board_pic(
		board_no,
		board_pic_name_one,
		board_pic_name_two,
		board_pic_name_three,
		board_pic_name_four,
		board_pic_name_five
		)VALUES(
		#{boardNo},
		#{boardPicNameOne},
		#{boardPicNameTwo},
		#{boardPicNameThree},
		#{boardPicNameFour},
		#{boardPicNameFive}
		)
	</insert>
</mapper>