<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.secondhand.mapper.StoreMapper">
	<!-- 업체 리스트 -->
  <sql id = "selectBoard">
		board_no AS boardNo,
  		store_no AS storeNo,
  		category_name AS categoryName,
  		board_title AS boardTitle,
  		board_content AS boardContent,
  		board_date AS boardDate
  </sql>
  <select id="selectStoreBoardList" parameterType="com.project.secondhand.vo.StoreList" resultType="com.project.secondhand.vo.StoreList">
  	SELECT
  	ms.store_name AS storeName,
	ms.store_addr AS storeAddr,
	ms.store_phone AS storePhone,
	ms.store_email AS storeEmail,
	msb.board_no AS boardNo,
	msb.store_no AS storeNo,
	msb.category_name AS categoryName,
	msb.board_title AS boardTitle,
	msb.board_content AS boardContent,
	msb.board_date AS boardDate,
	msbp.board_pic_name_one AS boardPicNameOne,
	msbp.board_pic_name_two AS boardPicNameTwo,
	msbp.board_pic_name_three AS boardPicNameThree,
	msbp.board_pic_name_four AS boardPicNameFour,
	msbp.board_pic_name_Five AS boardPicNamefive
	FROM market_store_board msb INNER JOIN market_store_board_pic msbp INNER JOIN market_store ms
	ON msb.board_no = msbp.board_no
	AND ms.store_no = msb.store_no

  </select>
  <!-- 업체 리스트 상세보기 -->
  <select id="selectStoreBoardInfo" parameterType="com.project.secondhand.vo.StoreList" resultType="com.project.secondhand.vo.StoreList">
  	SELECT
  	ms.store_name AS storeName,
	ms.store_addr AS storeAddr,
	ms.store_phone AS storePhone,
	ms.store_email AS storeEmail,
	msb.board_no AS boardNo,
	msb.store_no AS storeNo,
	msb.category_name AS categoryName,
	msb.board_title AS boardTitle,
	msb.board_content AS boardContent,
	msb.board_date AS boardDate,
	msbp.board_pic_name_one AS boardPicNameOne,
	msbp.board_pic_name_two AS boardPicNameTwo,
	msbp.board_pic_name_three AS boardPicNameThree,
	msbp.board_pic_name_four AS boardPicNameFour,
	msbp.board_pic_name_Five AS boardPicNamefive
	FROM market_store_board msb INNER JOIN market_store_board_pic msbp INNER JOIN market_store ms
	ON msb.board_no = msbp.board_no
	AND ms.store_no = msb.store_no
  	WHERE msb.board_no = #{boardNo}
  </select>
  <!-- 업체의 주소를 기준으로 리스트 가져오기 -->
  <select id="selectStoreBoardListByAddr" parameterType="String" resultType="com.project.secondhand.vo.StoreList">
  	SELECT
	ms.store_name AS storeName,
	ms.store_addr AS storeAddr,
	ms.store_phone AS storePhone,
	ms.store_email AS storeEmail,
	msb.board_no AS boardNo,
	msb.store_no AS storeNo,
	msb.category_name AS categoryName,
	msb.board_title AS boardTitle,
	msb.board_content AS boardContent,
	msb.board_date AS boardDate,
	msbp.board_pic_name_one AS boardPicNameOne,
	msbp.board_pic_name_two AS boardPicNameTwo,
	msbp.board_pic_name_three AS boardPicNameThree,
	msbp.board_pic_name_four AS boardPicNameFour,
	msbp.board_pic_name_Five AS boardPicNamefive
	FROM market_store_board msb INNER JOIN market_store_board_pic msbp
	INNER JOIN market_store ms
	ON msb.board_no = msbp.board_no
	AND ms.store_no = msb.store_no
  	WHERE ms.store_addr = #{storeAddr}
  </select>
  <!-- 업체의 카테고리를 기준으로 리스트 가져오기 -->
  <select id="selectStoreBoardListByCategory" parameterType="String" resultType="com.project.secondhand.vo.StoreList">
  	SELECT
	ms.store_name AS storeName,
	ms.store_addr AS storeAddr,
	ms.store_phone AS storePhone,
	ms.store_email AS storeEmail,
	msb.board_no AS boardNo,
	msb.store_no AS storeNo,
	msb.category_name AS categoryName,
	msb.board_title AS boardTitle,
	msb.board_content AS boardContent,
	msb.board_date AS boardDate,
	msbp.board_pic_name_one AS boardPicNameOne,
	msbp.board_pic_name_two AS boardPicNameTwo,
	msbp.board_pic_name_three AS boardPicNameThree,
	msbp.board_pic_name_four AS boardPicNameFour,
	msbp.board_pic_name_Five AS boardPicNamefive
	FROM market_store_board msb INNER JOIN market_store_board_pic msbp
	INNER JOIN market_store ms
	ON msb.board_no = msbp.board_no
	AND ms.store_no = msb.store_no
  	WHERE msb.category_name = #{categoryName}
  </select>
  <!-- 업체 추가하기 -->
  <insert id="insertStoreBoard" parameterType="com.project.secondhand.vo.StoreBoard" useGeneratedKeys="true" keyColumn="board_no" keyProperty="boardNo">
	INSERT INTO
	market_store_board(
		board_no,
		store_no,
		category_name,
		board_title,
		board_content,
		board_date
		)VALUES(
		#{boardNo},
		#{storeNo},
		#{categoryName},
		#{boardTitle},
		#{boardContent},
		NOW()
		)  
  </insert>
  	<!--  업체 가입  -->
  <insert id="addStore" parameterType="com.project.secondhand.vo.Store" useGeneratedKeys="true" keyColumn="store_no" keyProperty="storeNo">
  	INSERT INTO
  		market_store(
  			store_no,
  			store_name,
  			store_addr,
  			store_phone,
  			store_email,
  			store_pw,
  			store_date
  		)VALUES(
  			#{storeNo},
  			#{storeName},
  			#{storeAddr},
  			#{storePhone},
  			#{storeEmail},
  			PASSWORD(#{storePw},
  			NOW()
  		)
  </insert>
  <!-- 업체 사진추가 -->
  <insert id="addStorePic" parameterType="com.project.secondhand.vo.StorePic">
  	INSERT INTO 
  		market_store_pic(
  			store_no,
  			store_pic_name_one,
  			store_pic_name_two,
  			store_pic_name_three
  		)VALUES(
  			#{storeNo},
  			#{storePicNameOne},
  			#{storePicNameTwo},
  			#{storePicNameThree}
  		)
  		
  </insert>
	<!-- 업체 로그인 확인 -->
	<select id="selectLoginStore" parameterType="com.project.secondhand.vo.Store" resultType="com.project.secondhand.vo.Store">
		SELECT 
			store_email AS storeEmail,
			store_pw AS storePw
		FROM market_store
		WHERE store_email = #{storeEmail}
		AND store_pw = PASSWORD(#{storePw})
	</select>
  <!-- 업체 수정하기 -->
  <update id="updateStoreBoard" parameterType="com.project.secondhand.vo.StoreBoard">
  	UPDATE market_store_board
  	SET
  		board_title =#{boardTitle},
  		board_content =#{boardContent}
  	WHERE board_no =#{boardNo}
  </update>
  <!-- 업체 삭제하기 -->
  <delete id="deleteStoreBoard" parameterType = "int">
  	DELETE
  	FROM market_store_board
  	WHERE board_no = #{boardNo}
  </delete>
  
   <!-- 비밀번호 찾기 -->
  <select id="findStorePw" resultType="com.project.secondhand.vo.Store" parameterType="com.project.secondhand.vo.Store">
  	SELECT *
  	FROM market_store
  	WHERE store_phone = #{storePhone}
  	AND store_email =#{storeEmail}
  </select>  
  
   <!-- 아이디(이메일) 찾기 -->
  <select id="findStorerId" resultType="String" parameterType="com.project.secondhand.vo.Store">
	SELECT
		store_email
	FROM market_store
	WHERE store_phone = #{storePhone}
  </select>
  <!-- 신고기능 -->
  <select id="storeReportDeferList" parameterType="com.project.secondhand.vo.StoreReportDefer" resultType="com.project.secondhand.vo.StoreReportDefer">
		SELECT
			board_report_defer_no AS boardReportDeferNo,
			board_no AS boardNo,
			member_no AS memberNo,
			category_name AS categoryName,
			board_report_defer_content AS boardReportDeferContent,
			board_report_defer_date AS boardReportDeferDate
		FROM market_store_report_defer
			
	</select>
	<select id="storeReportDeferInfo" parameterType="com.project.secondhand.vo.StoreReportDefer" resultType="com.project.secondhand.vo.StoreReportDefer">
		SELECT
			board_report_defer_no AS boardReportDeferNo,
			board_no AS boardNo,
			member_no AS memberNo,
			category_name AS categoryName,
			board_report_defer_content AS boardReportDeferContent,
			board_report_defer_date AS boardReportDeferDate
			FROM market_store_report_defer
			WHERE board_report_defer_no =#{boardReportDeferNo}
	</select>
	<insert id="addStoreReportDefer" parameterType="com.project.secondhand.vo.StoreReportDefer">
		INSERT INTO 
		market_store_report_defer(
			board_report_defer_no,
			board_no,
			member_no,
			category_name,
			board_report_defer_content,
			board_report_defer_date
		)VALUES(
			#{boardReportDeferNo},
			#{boardNo},
			#{memberNo},
			#{categoryName},
			#{boardReportDeferContent},
			NOW()
			)
	</insert>
	<delete id="removeStoreReportDefer" parameterType="int">
		DELETE FROM market_store_report_defer
		WHERE board_report_defer_no =#{boardReportDeferNo}
	</delete>
	<!-- 신고결과 -->
	<select id="storeReportResultList" parameterType="com.project.secondhand.vo.StoreReportResult" resultType="com.project.secondhand.vo.StoreReportResult">
		SELECT
			board_report_result_no AS boardReportResultNo,
			board_no AS boardNo,
			member_no AS memberNo,
			category_name AS categoryName,
			board_report_result_content AS boardReportResultContent,
			board_report_result_date AS boardReportResultDate
		FROM market_store_report_result
			
	</select>
	<select id="storeReportResultInfo" parameterType="com.project.secondhand.vo.StoreReportResult" resultType="com.project.secondhand.vo.StoreReportResult">
		SELECT
			board_report_result_no AS boardReportResultNo,
			board_no AS boardNo,
			member_no AS memberNo,
			category_name AS categoryName,
			board_report_result_content AS boardReportResultContent,
			board_report_result_date AS boardReportResultDate
		FROM market_store_report_result
		WHERE board_report_result_no =#{boardReportResultNo}
	</select>
	<insert id="addStoreReportResult" parameterType="com.project.secondhand.vo.StoreReportResult">
		INSERT INTO 
		market_store_report_result(
			board_report_result_no,
			board_no,
			member_no,
			category_name,
			board_report_result_content,
			board_report_result_date
		)VALUES(
			#{boardReportResultNo},
			#{boardNo},
			#{memberNo},
			#{categoryName},
			#{boardReportResultContent},
			NOW())
	</insert>
  
</mapper>